<html>
<body>
    <table border="1" width="100%">
        <tr>
            <td><h1>Vrundawan Associate</h1></td>
        </tr>
        <tr>
            <td>
                <a href="/">Home</a>
                <a href="/about">About</a>
                <a href="/contact">Contact</a>
            </td>
        </tr>
        <tr>
            <td>
                {% block mycontent %}
                {% endblock %}
            </td>
        </tr>
        <tr>
            <td>Website Development by Dhruvika Gondaliya</td>
        </tr>
    </table>
</body>
</html>